<div>
  <ng-container *ngIf="dogs.length > 0; then areDogs; else noDogs">

  </ng-container>

  <ng-template #areDogs>
    <div *ngFor="let dog of dogs">
      Piesek {{dog.name}} wiek: {{dog.age}}
    </div>
  </ng-template>

  <ng-template #noDogs>
    <p>Nie ma piesksów.</p>
  </ng-template>

  <button (click)="addDogs()">Add</button>
  <button (click)="removeDogs()">Remove</button>

  <div [hidden]="isHidden">
    <ng-container *ngFor="let day of days">
      <div [ngSwitch]="day">
        <div *ngSwitchCase="'P'">Monday</div>
        <div *ngSwitchDefault>Hehe</div>
      </div>
    </ng-container>
  </div>

  <div>
    <input [value]="inputText" placeholder="">
  </div>
  <div>
    <input [(ngModel)]="inputTest2Way" placeholder="{{inputTest2Way}}">
  </div>
  <div>
    <input (click)="click($event)">
  </div>

</div>
